---
interface Props {
	excerpt?: string;
	linkedTo: string;
	popoverSpanText: string;
	popoverTitle: string;
	postId: string;
	linkText?: string;
}
const {
	excerpt = "",
	linkedTo,
	popoverSpanText,
	popoverTitle,
	postId,
	linkText = "Read more",
} = Astro.props;
let id = "id" + Math.random().toString(16).slice(2) + "---" + postId;
---

<span class="site-page-link text-link">
	<span
		data-popover-target={`popover-description-${id}`}
		data-popover-placement="bottom-end"
		class="cursor-pointer"
		data-href={linkedTo}
		id={`popover-click-${id}`}
	>
		{popoverSpanText ? popoverSpanText : <slot />}
		<span class="sr-only">Show information for the linked content</span>
	</span>
</span>

<template id={`template-popover-description-${id}`}>
	<div
		data-popover
		id={`popover-description-${id}`}
		role="tooltip"
		class="popoverEl invisible absolute z-40 hidden inline-block w-72 rounded-lg border border-gray-200 bg-white text-sm text-gray-500 opacity-0 shadow-xs transition-opacity duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400"
	>
		<a href={linkedTo}>
			<div class="space-y-2 p-3">
				<h3 class="text-accent decoration-accent-2/20 font-semibold underline decoration-wavy">
					{popoverTitle}
				</h3>
				{excerpt && <p>{excerpt}</p>}
				<a
					href={linkedTo}
					data-popover-link
					class="text-link/90 flex max-w-full items-center font-medium hover:underline"
				>
					{linkText}
					<svg
						class="ms-1.5 h-2 w-2 rtl:rotate-180"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 6 10"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m1 9 4-4-4-4"></path>
					</svg>
				</a>
			</div>
		</a>
		<div data-popper-arrow></div>
	</div>
</template>
