---
import PageLayout from "@/layouts/Base.astro";
import { getNavLink } from "@/lib/blog-helpers";
import { getAllTagsWithCounts } from "@/lib/notion/client";
import { getNotionColorToTailwindColor } from "@/lib/style-helpers";
import { slugify } from "@/utils";

const allTags = await getAllTagsWithCounts();

const meta = {
	title: "All Tags",
	description: "A list of all the topics I've written about in my posts",
	ogImage: "/og-image/tagsindex---index.png",
};
---

<PageLayout meta={meta}>
	<h1 class="title text-accent-2 mb-6">Tags</h1>
	<ul class="space-y-4">
		{
			allTags.map((tag) => (
				<li class="flex max-w-full flex-col gap-x-2">
					<div>
						<a
							class="inline-block"
							href={getNavLink("/tags/" + slugify(tag.name) + "/")}
							title={`View posts with the tag: ${tag.name}`}
							aria-label={`View posts with the tag: ${tag.name}`}
							data-astro-prefetch
						>
							<span
								class={`rounded-lg px-2 py-1 ${getNotionColorToTailwindColor(
									tag.color + "-background",
									true,
								)} `}
							>
								{tag.name}
							</span>
						</a>

						<span class="inline-block">
							:{" "}
							<a
								class="site-page-link text-link inline-block"
								href={getNavLink("/tags/" + slugify(tag.name) + "/")}
								title={`View posts with the tag: ${tag.name}`}
								aria-label={`View posts with the tag: ${tag.name}`}
								data-astro-prefetch
							>
								{" "}
								{tag.count} Post{tag.count > 1 && "s"}
							</a>
						</span>
					</div>
					{tag.description && (
						<div>
							<q class="mt-1 line-clamp-3 block italic">{tag.description}</q>
						</div>
					)}
				</li>
			))
		}
	</ul>
</PageLayout>
